@use 'variaveis';
@use '_hero';
@use '_parceiros';
@use '_hero2';
@use '_box';
@use '_footer';
@use '_nav';
   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Amazon Ember;
}

@font-face {
    font-family: Amazon Ember;
    src: url(../../assets/fonts/AmazonEmber_W_Rg.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Amazon Ember;
    src: url(../../assets/fonts/AmazonEmber_W_Bd.woff2);
    font-weight: 700;
}